{
  "Parameters": {
    "EnableDataDog": "true",
    "DesiredCount": "1",
    "ContainerPort": "8080"
  },
  "Tags": {
    "Application": "microservice-maintenence",
    "Team": "TEAM"
  },
  "StackPolicy": {
    "Statement": [
      {
        "Effect": "Allow",
        "Action": "Update:*",
        "Principal": "*",
        "Resource" : "*"
      }
    ]
  }
}